nav {
    padding: 15px 35px 15px 35px;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: inherit;
}

div.logo {
    font-size: 45px;
    color: #ffffff;
    text-shadow: 2px 2px #000;
}

ul {
    padding: 0;
    list-style-type: none;
    margin-left: auto;
    text-align: center;
}

ul li {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    font-weight: normal;
    font-size: 17px;
    color: #F57C17;
    text-shadow: 1px 1px #000000;
}

li.welcome-text {
    padding-right: 50px;
}

ul li a {
    color: #F57C17;
    text-decoration: none;
    padding-right: 50px;
}

.button {
    color: #F3F5F4 !important;
    padding: 10px !important;
    margin-left: 10px;
    font-size: 13px;
    min-width: 100px;
}

/* Extra small devices */
@media (max-width: 320px) {
    ul li a {
        padding-right: 30px;
    }
}

/* Small devices */
@media (max-width: 576px) {
    nav {
        padding: 0px 20px 0px 20px;
    }

    div.logo {
        width: 100%;
        text-align: center;
    }

    ul {
        width: 100%;
        margin-top: 5px;
    }
}

/* Medium devices */
@media (max-width: 768px) {
    span.conditional-display {
        display: none;
    }

    ul li a, li.welcome-text {
        padding-right: 30px;
    }
}

/* Large devices  */
@media (max-width: 992px) {

}
