<nav>
    <div class="logo float-left">
        <a routerLink="/" routerLinkActive="active">instire.io</a>
    </div>
    <ul>
        <li *ngIf="!loginService.loggedIn"><a routerLink="/about/wtf" routerLinkActive="active">About</a></li>
        <li *ngIf="!loginService.loggedIn"><a routerLink="/about/faq" routerLinkActive="active">FAQ</a></li>
        <li *ngIf="loginService.loggedIn && userService.user.details" class="welcome-text">
            What's up,
            {{ userService.user.details.full_name }}<span class="conditional-display">, nice to see you</span>!
        </li>
        <li *ngIf="!loginService.loggedIn">
            <button routerLink="/login" routerLinkActive="active" class="button">
                <i class="far fa-arrow-alt-circle-right"></i> Check your profile
            </button>
        </li>
        <li *ngIf="loginService.loggedIn">
            <button (click)="logout()" class="button">
                <i class="fas fa-sign-out-alt"></i> Logout
            </button>
        </li>
    </ul>
</nav>

<div class="horizontal-rule float-clear"></div>