.container {
    width: 350px;
}

.button {
    width: 100%;

    font-size: 18px;
    padding: 20px;
}

.horizontal-rule {
    margin: 20px 0px 20px 0px;
    border-top: 1px solid #555;
}

p.privacy-info {
    font-size: smaller;
}

.logo {
    display: inline-block;
    font-size: 40px;
    margin-top: -5px;
}

#logout-image {
    display: none;
}