<div class="container">
    <h2>Hey there, welcome at instire.io!</h2>
    <p>
        Please log in with your Instagram account to find out how your profile performs.
    </p>
    <p class="privacy-info">
        Learn more about what do with your data and why it is save with us in our
        <a routerLink="/privacy" routerLinkActive="active">Privacy Policy</a>.
    </p>

    <div class="horizontal-rule"></div>
    <button class="button" (click)="instagramRedirect()">
        <i class="fab fa-instagram"></i>
        Login using Instagram
    </button>
</div>
