<div class="container">
    <p><strong>Hey there, thank you for your interst in instire.io!</strong></p>
    <p>
        To be able to generate your Instagram score, you need to login and grant instire.io some basic permissions to
        read the necessary data from your Instagram profile.
    </p>
    <p>
        Find out more about why you can trust us <a routerLink="/privacy" routerLinkActive="active">here</a>.
    </p>

    <div class="horizontal-rule"></div>
    <button class="button" (click)="instagramRedirect()">
        <i class="fab fa-instagram"></i>
        Login using Instagram
    </button>
</div>
