<div class="scoreCard" *ngIf="displayScoreCard" [@enterAnimation]>
    <img class="profile-picture" *ngIf="userService.user.details" [src]="userService.user.details.profile_picture" />
    <div class="username">
        <h2>@{{ userService.user.details.username | uppercase }}</h2>
    </div>
    <div class="belt">
        <div class="tooltip">
            <span class="metric-name">Posted Media</span>
            {{ userService.user.metrics.raw.media | number : '1.0' }}
            <span class="tooltip-text">
                The number of posts (pictures & videos) available on your Instagram profile.
            </span>
        </div> |
        <div class="tooltip">
            <span class="metric-name">Followers</span>
            {{ userService.user.metrics.raw.followedBy | number : '1.0' }}
            <span class="tooltip-text">
                The number of accounts following you.
            </span>
        </div> |
        <div class="tooltip">
            <span class="metric-name">Following</span>
            {{ userService.user.metrics.raw.following | number : '1.0' }}
            <span class="tooltip-text">
                The number of accounts you are following.
            </span>
        </div> |
        <div class="tooltip">
            <span class="metric-name">Activity</span>
            {{ userService.user.metrics.compiled.activity | number : '1.2-2' }}
            <span class="tooltip-text">
                Describes the ratio between post likes and followers. Bigger is better.
            </span>
        </div> |
        <div class="tooltip">
            <span class="metric-name">Fame</span>
            {{ userService.user.metrics.compiled.fame | number : '1.2-2' }}
            <span class="tooltip-text">
                Describes the ratio between your followers and the number of accounts you follow. Bigger is better.
            </span>
        </div> |
        <div class="tooltip">
            <span class="metric-name">Post Frequency</span>
            {{ userService.user.metrics.compiled.postFrequency | number : '1.2-2' }}
            <span class="tooltip-text">
                The median time between your most recent posts. Lower is better.
            </span>
        </div>
    </div>
    <div class="results">
        <p>Your profile currently scores</p>
        <h1 class="score">{{ scoreCount | number : '1.2-2' }}</h1>
        <p>
            That's pretty dope!<br>
            Your account performs better than
            {{ performanceRatio | number : '1.0' }}% of {{ userService.user.metrics.compiled.usersAll | number }}
            fellow instire.io users!
        </p>
    </div>
</div>

<div class="loadingIndicator" *ngIf="!displayScoreCard" [@enterAnimation]>
    <div *ngIf="mediaFetched">
        <img class="loadingImage"
             [src]="currMediaImg"
             [@imageAnimation]="stateChange"
             (@imageAnimation.done)="nextImage()">
    </div>
    <img *ngIf="!mediaFetched" src="../../../assets/img/dual-ring.svg" [@enterAnimation]>
    <h1 class="loadingMessage">{{ currMessage }}</h1>
</div>